<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>layout 后台大布局 - Layui</title>
  <link rel="stylesheet" href="./layui/css/layui.css" th:href="@{/layui/css/layui.css}">
  <link rel="stylesheet" href="./layer/theme/default/layer.css" th:href="@{/layer/theme/default/layer.css}">
  <script type="text/javascript" src="./javascript/jquery.min.js" th:src="@{/javascript/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/laydate/laydate.js}"></script>
  <script>
      //执行一个laydate实例
      laydate.render({
          elem: '#timedate1' //指定元素
      });
      // $(function () {
      //    $('#btn_submit').click(function () {
      //        var username = $('#username').val();
      //        var password = $('#password').val();
      //        var createtime = $('#createtime').val();
      //
      //        $.ajax({
      //            type:'post',
      //            url:'/user/addperson',
      //            data:{id:$('#userid').val(),username:$('#username').val(),userpwd:$('#password').val(),createtime:$('#timedate1').val()},
      //            dataType:String,
      //            success: function (data) {
      //                alert(data.toString());
      //            }
      //        });
      //    });
      // });
  </script>
</head>
<body>

<div class="layui-container">  
    <div class="layui-row">
        <div class="layui-col-lg12">
            <form class="layui-form" th:action="@{/user/addperson}" method="post">
            <fieldset class="layui-elem-field">
                <legend>用户管理 - 新增用户</legend>
                <div class="layui-field-box">
                        <div class="layui-form-item">
                            <label class="layui-form-label">编号</label>
                            <div class="layui-input-block">
                                <input type="text" id="userid" name="id" required  lay-verify="required" placeholder="请输入标题"  class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">输入框</label>
                            <div class="layui-input-block">
                            <input type="text" id="username" name="username" required  lay-verify="required" placeholder="请输入标题"  class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">密码框</label>
                            <div class="layui-input-inline">
                            <input type="password" id="password" name="userpwd" required lay-verify="required" placeholder="请输入密码" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">辅助文字</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">CreateTime</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" id="timedate1" name="createtime" placeholder="yyyy-MM-dd">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                            <input type="submit" id="btn_add" class="layui-btn" value="立即提交">
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>

                </div>
            </fieldset>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="./layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" src="./javascript/dw_form_submit.js" th:src="@{/javascript/dw_form_submit.js}" ></script>
</body>
</html>